#selectedProject {
  font-size: min(96px, 10vw);
  display: flex;
  align-items: center;
  border-top: none;
}
#selectedProject,
.priorityOne,
.priorityTwo,
.priorityThree,
.priorityFour {
  width: 100%;
  height: 121px;
  margin-top: 30px;
  margin-bottom: 30px;
}
/* Styling For Where The Todos Will Go */
.priorityOne,
.priorityTwo,
.priorityThree,
.priorityFour {
  display: grid;
  grid-template-columns: 1fr;
  height: fit-content;
  font-size: min(64px, 10vw);
  border-top: 1px solid #d4d4d8;
}
/* Color The Priorities, More Red, More Urgent */
.priorityOne {
  color: #ff0066;
}
.priorityTwo {
  color: #ffd700;
}
.priorityThree {
  color: rgb(9, 255, 50);
}
.priorityFour {
  color: #2850ff;
}
/* Button To Add Todos */
#addTodoBtn {
  margin-left: auto;
  background-color: #ffffff;
  border-style: solid;
  border-color: #ffffff;
  color: #111;
  border-radius: 10px;
  height: 40px;
}
#addTodoBtn:hover {
  background-color: #d4d4d8;
  transition: 0.2s;
  cursor: pointer;
}
/*All Todos*/
.todo {
  display: flex;
  align-items: center;
  column-gap: 10px;
  background-color: #f4f4f5;
  height: 60px;
  padding-right: 20px;
}
/*Show Priority color*/
.priorityColor {
  width: 5px;
  height: 100%;
  background-color: #ff0066;
}
/*Checkbox For Todos*/
.todoCheckbox {
  height: 18px;
  width: 18px;
  margin-left: 10px;
  margin-right: 10px;
  accent-color: #ff0066;
  border: #111;
}
@keyframes strikeThrough {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.strikeThrough {
  position: relative;
  color: #d4d4d8 !important;
}
.strikeThrough::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: black;
  animation-name: strikeThrough;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.taskName {
  font-size: min(24px, 10vw);
  color: #111;
  transition: color 0.2s;
}
.detailsBtn {
  height: 35px;
  width: 100px;
  margin-left: auto;
  background-color: transparent;
  border: 2px solid #ff0066;
  color: #ff0066;
  font-family: "Signika";
  font-size: min(16px, 10vw);
  font-weight: bold;
}
.detailsBtn:hover {
  background-color: #ff0066;
  color: #ffffff;
  cursor: pointer;
  transition: 0.2s;
}
.detailsBtnChecked {
  opacity: 0.5;
}
.trashCan,
.editIcon {
  height: fit-content;
  font-size: min(40px, 10vw);
  transition: 0.2s;
}
.trashCan:hover,
.editIcon:hover {
  color: violet;
  cursor: pointer;
}
.trashCan::before {
  content: "\01F5D1";
}
.editIcon::before {
  content: "\01F589";
}
.trashCanChecked,
.editIconChecked {
  opacity: 0.5;
}
