@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Indie+Flower&family=Signika&display=swap");

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
/*Hamburger Switch*/
[role="switch"][aria-checked="false"] {
  background: rgb(0, 255, 0);
  color: #eef;
}
[role="switch"][aria-checked="true"] {
  background: rgb(255, 0, 0);
  color: #eef;
}
/*-----------------*/

/* The navBar menu */
#navBar {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    to left,
    violet,
    indigo,
    #2850ff,
    green,
    yellow,
    orange,
    red
  );
  position: fixed;
  width: 100%;
  height: 5vh;
  min-height: min-content;
}
/*------------------*/

/* The Sidebar Inbox */
#sideBarInbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Signika";
  /* background-image: linear-gradient(
    to left,
    violet,
    indigo,
    #2850ff,
    green,
    yellow,
    orange,
    red
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
  color: white;
  font-size: 2em;
  padding-left: 5%;
  margin-bottom: 30px; /* Place content 60px from the top */
  margin-top: 30px;
}
/* The sidebar menu */
.sidebar {
  font-family: "Signika";
  height: 100%; /* 90% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 5vh;
  left: 0;
  background-color: #0f172a; /* Blue*/
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}
/* Collapse Classes for Sidebar and Content */
.sidebarOpen {
  width: 250px;
}
/* Only Push Content If Screen Is Certain Size */
@media screen and (min-width: 450px) {
  .contentPushed {
    margin-left: 250px;
  }
}
.projectsOpen {
  max-height: 1440px !important;
}
/* The Sidebar Project Container*/
#projectsContainer {
  /*  background: linear-gradient(180deg, #ff0066, #2850ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  */
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
/* The Sidebar Project Label*/
#projectLabelContainer {
  height: auto;
  color: white;
  display: flex;
  font-size: 2em;
  padding-left: 5%;
  background: -webkit-linear-gradient(180deg, #ff0000, #8400ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
#projectLabelContainer > :first-child:hover,
#sidbarButtonContainer > :hover,
#projectsContainer > :hover,
#sideBarInbox:hover {
  cursor: pointer;
  opacity: 0.5;
}
/* The Sidebar Project Buttons*/
#sidbarButtonContainer {
  margin-left: auto;
  margin-right: 10%;
  display: flex;
  gap: 20%;
}
/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  width: 80%;
  display: flex;
  align-items: center;
}
/* Same as color circle in projectForm.css just without margin-left */
.colorCircle-P {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 360px;
  margin-right: 20px;
  text-align: center;
  color: #111;
}
.colorCircle-Inbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 360px;
  margin-right: 20px;
  text-align: center;
  color: #111;
}
/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openBtn {
  font-size: 20px;
  height: 100%;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 3vh;
  border: none;
}

.openBtn:hover {
  background-color: #444;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#content {
  font-family: "Signika";
  transition: margin-left 0.5s; /* If you want a transition effect */
  padding: 5vh 0px 0px 0px;
  /* height: 200vh;*/
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  max-width: min(100%, 800px);
  padding-left: calc(50% - min(50%, 400px)); /* center element */
}
/* Projects Home Screen Itself */
#contentHome {
  width: 100%;
  height: 121px;
  font-size: min(92px, 10vw);
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #d4d4d8;
  grid-row: 1;
}
/* Button to add Projects on Home Screen */
#homeAddProjectBtn {
  margin-left: auto;
  background-color: #ffffff;
  border-style: solid;
  border-color: #ffffff;
  color: #111;
  border-radius: 10px;
  height: 40px;
}
#homeAddProjectBtn:hover {
  background-color: #d4d4d8;
  transition: 0.2s;
  cursor: pointer;
}
